html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.head {
  background-color: #f3f5f9;
  padding: 20px 200px 10px 200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #e2e3e7;
}

input,
select {
  height: 55px;
}

.steps {
  display: flex;
  justify-content: flex-start;
}

.checks i {
  color: #ee6627;
}

.steps .active {
  padding-bottom: 10px;
  border-bottom: 4px solid #ee6627;
  margin-bottom: -14px;
}
.details {
  padding-left: 20px;
  padding-top: 0px;
  margin-top: -15px;
}

.details h3 {
  color: #1e2b3b;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-top: 20px;
}

.details p {
  color: #1e2b3b99;
  font-size: 13px;
  font-weight: 500;
}

.form {
  padding: 5% 4%;
  border-bottom: 1px solid #1e2b3b4d;
  border-width: 85%;
}

.categories {
  padding: 0% 6%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form h3 {
  font-size: 24px;
  color: #1e2b3b;
  font-family: "Lora";
  font-weight: 600;
  margin-top: 20px;
}

.form p {
  font-size: 16px;
  color: #1e2b3b80;
  font-weight: 500;
}

.input {
  display: flex;
  flex-direction: column;
  background-color: #f3f5f9;
  border-radius: 6px;
  padding: 10px 20px;
  border: 2px solid #1e2b3b4d;
  width: 20%;
  margin-left: 20px;
  margin-top: 30px;
}

.input:hover {
  border: 3px solid #ee6627;
  background-color: #ee662713;
}

.input img {
  padding: 20px 0px;
}

.input label {
  color: #1e2b3b;
  font-weight: 500;
  font-size: 14px;
}

.page {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.page button {
  width: 230px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  font-size: 14px;
  font-weight: 500;
}

.page .prev {
  background-color: #f3f5f9;
  border: 1px solid #1e2b3b26;
  color: #ee6627;
}

.page .next {
  background-color: #1e2b3b;
  color: #fff;
  border: 1px solid #1e2b3b;
}

.tab-about {
  padding-top: 80px;
  padding-left: 6%;
  padding-right: 6%;
}
.about {
  padding: 1% 6%;
}

.about label {
  color: #1e2b3b80;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}
